<style>

    #toplink {
        position: fixed;
        z-index: 32678207;
        width: 75%
    }

    .lehrer td {
        padding: 0 20px;
    }

    .rest {
        position: relative;
        top: 130px;
    }

    .wertung td {
        padding: 0 5px;
    }

    .rate {
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
    }

    .rate > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }

    .rate > span:hover,
    .rate > span:hover ~ span {
        color: transparent;
    }

    .rate > span:hover:before,
    .rate > span:hover ~ span:before {
        content: "\2605";
        position: absolute;
        left: 0;
        color: gold;

    }

    .star {

        color: gold;

    }

    .gesamt {
        border-left: 1px solid #EBEBEB
    }
</style>
<br>
<table class="lehrer" id="toplink">
    <tr bgcolor=#FCFCFC>
        <td>
            <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=240" height=75px width=75px>
            <br>
            <br>
            <span class="star">★ ★ ★ </span><span>☆ ☆</span>


        </td>
        <td text-align: center>
            Name: Max Musterman
            <hr>
            Schule: Musterman Schule
        </td>
    </tr>
</table>
<hr>

<div class="rest">
    <table class="wertung">
        <tr style="width: 918px; ">
            <td>
                <div class="rate">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
                <hr>
                <div class="rate">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
                <hr>
                <div class="rate">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
                <hr>
                <div class="rate">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
                <hr>
                <div class="rate">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
                <hr>
                <div class="rate">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
            </td>
            <td>
                Coolness und Humor
                <hr>
                Fairness der Notenverteilung
                <hr>
                Fachliche Kompetenz
                <hr>
                Spa&szlig; im Unterricht
                <hr>
                Verst&auml;ndliches Erkl&auml;ren
                <hr>
                Flexiblit&auml;t & Eingehen auf die Sch&uuml;er

            </td>

            <td class="gesamt">

                <span class="star">★ ★  </span><span> ☆ ☆ ☆</span>
                <hr>
                <span class="star">★ ★ ★ </span><span>☆ ☆</span>
                <hr>
                <span class="star">★ ★ ★ ★ </span><span> ☆</span>
                <hr>
                <span class="star"> ★ </span><span>☆ ☆ ☆ ☆</span>
                <hr>
                <span class="star">★ ★ ★ </span><span>☆ ☆</span>
                <hr>
                <span class="star">★ ★ ★ ★ ★ </span>
            </td>
            <td class="gesamt">
                2.4
                <hr>
                3.0
                <hr>
                3.8
                <hr>
                1.3
                <hr>
                3.3
                <hr>
                4.9
            </td>
        </tr>

    </table>
    <hr>

    </table>
    <hr>

    <table class="wertung">
        <tr>
            <td>
                <textarea name="commet" style="width: 875px; height: 148px"
                          placeholder="Bewerte hier Dein Lehrer...."></textarea>
            </td>
            <td>
                <p>Wie willst du Kommentieren?</p>

                <input type="radio" name="Private" value="Mastercard">
                <label for="mc"> Anonym</label>
                <br>
                <input type="radio" name="Private" value="Visa">
                <label for="vi"> Mit Name</label>

                <button class="btn btn-default">Kommentieren</button>
            </td>
        </tr>
    </table>
    <hr>
    <table class="wertung">
        <tr>
            <td>
                <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=240" height=75px width=75px>
                <hr>
            </td>
            <td>
                Maria Neuge:
                <br>
                Du Bist Toll :D
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=240" height=75px width=75px>
                <hr>
            </td>
            <td>
                Günter Schröder:
                <br>
                Ich gib dir bessere Sterne wenn du mir bessere noten gibst.
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=240" height=75px width=75px>
                <hr>
            </td>
            <td>
                Anonym
                <br>
                Bitte sei nicht so auftränglich
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=240" height=75px width=75px>
                <hr>
            </td>
            <td>
                Elias Buchholz
                <br>
                Bist OK :D
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=240" height=75px width=75px>
                <hr>
            </td>
            <td>
                Anton Langfitz
                <br>
                Ich würde sagen das du relativ Langweilig bist.
                <hr>
            </td>
        </tr>

        <tr>
            <td>
                <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=240" height=75px width=75px>
                <hr>
            </td>
            <td>
                Anonym
                <br>
                Du bist Kaka
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=240" height=75px width=75px>
                <hr>
            </td>
            <td>
                Anonym
                <br>
                Du kommst oft vom Thema ab.
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=240" height=75px width=75px>
                <hr>
            </td>
            <td>
                Robin Groß
                <br>
                Bei dir kan man im Unterricht mithalten.
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=240" height=75px width=75px>
                <hr>
            </td>
            <td>
                Anonym
                <br>
                Du erklärst manchal komisch
                <hr>
            </td>
        </tr>
    </table>

    <!-- Hier Kommentare hin -->

</div>
