<div class="clearfix">
    <form ng-Submit="submitSchool()" ng-show="authenticated">
        <h2>Fuege eine Schule hinzu:</h2>
        <h2 class = "btn btn-default" ng-click = "showAddSchoolForm()">Los!</h2>
        <div ng-show = "showAddSchoolFormBoo">
            <input required type="text" class="form-control" placeholder="Region" list="regions" name="regions" ng-model = "school.region">
            <input required class="form-control" maxlength="200" rows="1" placeholder="Name " ng-model="school.name"></input>
            <input required class="form-control" maxlength="200" rows="1" placeholder="Extra "ng-model="school.extra"></input>
            <input class="btn submit-btn pull-right" type="submit" value="Add school!"/>
        </div>
        <div ng-show = "loadingSubmit" >
            <span class = "text-success">School Added! - <a href="#/schools">Check it out</a> </span>
    </form>
</div>
    <h4 ng-show="authenticated">Finde eine Schule:</h4>
    <div  class = "btncenter" ng-hide="authenticated"> <a href = '#/login' class = "btn btn-default">Melde dich an</a> or <a href = '#/register' class = "btn btn-default">Register</a></div>

<form ng-show = "authenticated" class="navbar-form navbar-left" role="search" ng-submit = "regionSearch();">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search for your region" list="regions" name="regions">
        <datalist id="regions">
            <option value ="Baden-Wuerttemberg">Baden-Wuerttemberg </option>
            <option value = "Bayern">Bayern</option>
            <option value = "Berlin">Berlin </option>
            <option value = "Brandenburg">Brandenburg</option>
            <option value = "Bremen">Bremen </option>
            <option value = "Hamburg">Hamburg </option>
            <option value = "Hessen">Hessen</option>
            <option value = "Mecklenburg-Vorpommern">Mecklenburg-Vorpommern</option>
            <option value = "Niedersachsen ">Niedersachsen</option>
            <option value = "Nordrhein-Westfalen">Nordrhein-Westfalen</option>
            <option value = "Rheinland-Pfalz ">Rheinland-Pfalz</option>
            <option value = "Saarland">Saarland</option>
            <option value = "Sachsen">Sachsen</option>
            <option value = "Sachsen-Anhalt">Sachsen-Anhalt</option>
            <option value = "Schleswig-Holstein">Schleswig-Holstein</option>
            <option value = "Thueringen">Thueringen</option>
        </datalist>
    </div>

    <button type="submit" class="btn btn-default">Best&auml;tigen</button>
</form>