	<style>
		.lehrer {
		cellpadding: 29px;
		border: 1px;
		border-color: black;
		}


		.rate {
		  unicode-bidi: bidi-override;
		  direction: rtl;
		  text-align: center;
		}
		.rate > span {
		  display: inline-block;
		  position: relative;
		  width: 1.1em;
		}
		.rate > span:hover,
		.rate > span:hover ~ span {
		  color: transparent;
		}
		.rate > span:hover:before,
		.rate > span:hover ~ span:before {
		   content: "\2605";
		   position: absolute;
		   left: 0;
		   color: gold;
		}
	</style>
	<script>
	
	</script>

<table class="lehrer" >
	<tr>
		<td>
		</td>
		<td>
		</td>
	</tr>

	<tr>

		<td>
			<div class="rate">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
			</div>
				<hr>
			<div class="rate">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
			</div>
				<hr>
			<div class="rate">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
			</div>
				<hr>
			<div class="rate">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
			</div>
				<hr>
			<div class="rate">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
			</div>
				<hr>
			<div class="rate">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
			</div>
		</td>
	
		<td>
			Coolness und Humor
			<hr>
			Fairness der Notenverteilung 
			<hr>
			Fachliche Kompetenz
			<hr>
			Spa&szlig; im Unterricht
			<hr>
			verst&auml;ndliches Erkl&auml;ren
			<hr>
			flexiblität/eingehen auf die Sch&uuml;er

		</td>

	</tr>
</table>
	

<style>

		