
<div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>

					<div class="ui-field-contain">
						<fieldset data-role="controlgroup" data-type="horizontal" >
							<legend>Unterricht: </legend>
							<label for="unterrichteins">1</label>
							<input type="radio" name="unterrichtnote" id="unterrichteins" value="1" checked>
							<label for="unterrichtzwei">2</label>
							<input type="radio" name="unterrichtnote" id="unterrichtzwei" value="2">
							<label for="unterrichtdrei">3</label>
							<input type="radio" name="unterrichtnote" id="unterrichtdrei" value="3">
							<label for="unterrichtvier">4</label>
							<input type="radio" name="unterrichtnote" id="unterrichtvier" value="4">
							<label for="unterrichtfuenf">5</label>
							<input type="radio" name="unterrichtnote" id="unterrichtfuenf" value="5">
							<label for="unterrichtsechs">6</label>
							<input type="radio" name="unterrichtnote" id="unterrichtsechs" value="6">
						</fieldset>
					</div>
					
					<div class="ui-field-contain">
						<fieldset data-role="controlgroup" data-type="horizontal" >
							<legend>Coolness und Humor: </legend>
							<label for="coolnesseins">1</label>
							<input type="radio" name="coolnessnote" id="coolnesseins" value="1" checked>
							<label for="coolnesszwei">2</label>
							<input type="radio" name="coolnessnote" id="coolnesszwei" value="2">
							<label for="coolnessdrei">3</label>
							<input type="radio" name="coolnessnote" id="coolnessdrei" value="3">
							<label for="coolnessvier">4</label>
							<input type="radio" name="coolnessnote" id="coolnessvier" value="4">
							<label for="coolnessfuenf">5</label>
							<input type="radio" name="coolnessnote" id="coolnessfuenf" value="5">
							<label for="coolnesssechs">6</label>
							<input type="radio" name="coolnessnote" id="coolnesssechs" value="6">
						</fieldset>
					</div>

					<div class="ui-field-contain">	
						<fieldset data-role="controlgroup" data-type="horizontal" >
							<legend>Faire Prüfungen: </legend>
							<label for="pruefungeneins"> 1 </label>
							<input type="radio" name="pruefungennote" id="pruefungeneins" value="1" checked>
							<label for="pruefungenzwei"> 2 </label>
							<input type="radio" name="pruefungennote" id="pruefungenzwei" value="2">
							<label for="pruefungendrei">3</label>
							<input type="radio" name="pruefungennote" id="pruefungendrei" value="3">
							<label for="pruefungenvier">4</label>
							<input type="radio" name="pruefungennote" id="pruefungenvier" value="4">
							<label for="pruefungenfuenf">5</label>
							<input type="radio" name="pruefungennote" id="pruefungenfuenf" value="5">
							<label for="pruefungensechs">6</label>
							<input type="radio" name="pruefungennote" id="pruefungensechs" value="6">
						</fieldset>
					</div>
					
					<div class="ui-field-contain">	
						<fieldset data-role="controlgroup" data-type="horizontal" >
							<legend>Faire Notenvergabe: </legend>
							<label for="notenvergabeeins"> 1 </label>
							<input type="radio" name="notenvergabenote" id="notenvergabeeins" value="1" checked>
							<label for="notenvergabezwei"> 2 </label>
							<input type="radio" name="notenvergabenote" id="notenvergabezwei" value="2">
							<label for="notenvergabedrei">3</label>
							<input type="radio" name="notenvergabenote" id="notenvergabedrei" value="3">
							<label for="notenvergabevier">4</label>
							<input type="radio" name="notenvergabenote" id="notenvergabevier" value="4">
							<label for="notenvergabefuenf">5</label>
							<input type="radio" name="notenvergabenote" id="notenvergabefuenf" value="5">
							<label for="notenvergabesechs">6</label>
							<input type="radio" name="notenvergabenote" id="notenvergabesechs" value="6">
						</fieldset>
					</div>
					
					<div class="ui-field-contain">	
						<fieldset data-role="controlgroup" data-type="horizontal" >
							<legend>Bekleidung und Auftreten: </legend>
							<label for="auftreteneins">1</label>
							<input type="radio" name="auftretennote" id="auftreteneins" value="1" checked>
							<label for="auftretenzwei">2</label>
							<input type="radio" name="auftretennote" id="auftretenzwei" value="2">
							<label for="auftretendrei">3</label>
							<input type="radio" name="auftretennote" id="auftretendrei" value="3">
							<label for="auftretenvier">4</label>
							<input type="radio" name="auftretennote" id="auftretenvier" value="4">
							<label for="auftretenfuenf">5</label>
							<input type="radio" name="auftretennote" id="auftretenfuenf" value="5">
							<label for="auftretensechs">6</label>
							<input type="radio" name="auftretennote" id="auftretensechs" value="6">
						</fieldset>	
					</div>
					
					<div class="ui-field-contain">	
						<fieldset data-role="controlgroup" data-type="horizontal" >
							<legend>Fachliche Kompetenz: </legend>
							<label for="fachkompetenzeins">1</label>
							<input type="radio" name="fachkompetenznote" id="fachkompetenzeins" value="1" checked>
							<label for="fachkompetenzzwei">2</label>
							<input type="radio" name="fachkompetenznote" id="fachkompetenzzwei" value="2">
							<label for="fachkompetenzdrei">3</label>
							<input type="radio" name="fachkompetenznote" id="fachkompetenzdrei" value="3">
							<label for="fachkompetenzvier">4</label>
							<input type="radio" name="fachkompetenznote" id="fachkompetenzvier" value="4">
							<label for="fachkompetenzfuenf">5</label>
							<input type="radio" name="fachkompetenznote" id="fachkompetenzfuenf" value="5">
							<label for="fachkompetenzsechs">6</label>
							<input type="radio" name="fachkompetenznote" id="fachkompetenzsechs" value="6">
						</fieldset>				
					</div>

					<!-- Bewertung abgeben -->
					<fieldset class="ui-field-contain"><input type="submit" value="Bewertung abgeben" data-icon="check"></fieldset>
				</div>
			</form> 
		</div> <!-- Ende Formular -->
		
	
	<a href="index.php" class="ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-left ui-btn-inline">Zurück</a>		
	
		
	</div> <!--Page-->
	
	<!-- FOOTER -->
	<div data-role="footer">
		<!--Footer-Navi-Bar-->
		<div data-role="controlgroup" data-type="horizontal" align="center">
			<a href="index.php" class="ui-btn"> Home </a>
			<a href="statistiken.php" class="ui-btn"> Statistiken </a>
			<a href="app.html" class="ui-btn"> APP </a>
			<a href="agb.html" class="ui-btn"> AGB </a>
			<a href="impressum.html" class="ui-btn"> Impressum </a>		
				
		</div>
	</div> <!--Footer-->
