<style>
    .lehrer td {
        padding: 0 5px;
    }

    .rate {
        unicode-bidi: bidi-override;
        width: 15em;
    }

    .rate > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
        font-size: 2em;
        cursor: pointer;
    }

    .rate > span.active {
        color: gold;
    }

    .rate > span:hover {
        color: red;
    }

    #rechts {
        border-left: 1px solid black;
    }

    .tabelle-oben {
        vertical-align: top;
    }


</style>
<script>

</script>

<!--<div>Teacher: {{teacher.name}} ({{teacher.subject}})</div>-->


<table width="100%" height="100%">
    <tr>
        <td width="50%" class="tabelle-oben">
            <img width="40%" src="../images/NoPerson.png" alt="Kein Bild vorhanden" border="5%"> <br><br>

            Name: <br>

            Alter: <br>

            Schule: <br>

            F&auml;cher: <br>

            Durchschnittswert: <br>

            <p> Kommentare: </p>

            <stars></stars>
        </td>
    </tr>
</table>
<textarea class="form-control" placeholder="Kommentar"> </textarea>